@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Peralta&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

header nav {
  background-color: rgb(255, 174, 0);
}
header nav ul li {
  font-family: lobter;
  font-size: 25px;
}

main div h1 {
  font-family: lobter;
}
main div p {
  font-style: inherit;
}
main h1 {
  font-family: lobter;
  text-align: center;
  padding: 10px;
}

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
}
form fieldset {
  display: grid;
}
form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
form input {
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  margin-top: 3px;
  border: 1px solid #b3b1b1;
  border-radius: 5px;
  display: block;
  color: #050505;
  background-color: #f0eded;
}

h2 {
  text-align: center;
  font-family: lobter;
  font-size: 50px;
}

.item {
  width: 57vh;
  height: 37vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.item1 {
  background-image: url("./img/calabacita-yerba-mate-768x512.webp");
  background-size: cover;
}

.item2 {
  background-image: url("./img/delicious-terere-drink-still-life-scaled.jpg");
  background-size: cover;
}

.item3 {
  background-image: url("./img/mate1.jfif");
  background-size: cover;
}

.item4 {
  background-image: url("./img/mate2.jfif");
  background-size: cover;
}

.caja {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.caja2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor {
  display: flex;
  height: 450px;
  width: 100%;
  overflow: scroll;
}

.img-txt {
  font-size: 20px;
  width: 100%;
  padding: 10px;
}

.mate {
  background-image: url("./img/Ibarra31-320x400.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

.contenedor2 {
  display: flex;
  height: 450px;
  width: 100%;
  overflow: scroll;
}

.mate2 {
  background-image: url("./img/imagejpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

.contenedor3 {
  display: flex;
  height: 500px;
  width: 100%;
  overflow: scroll;
}

.mate3 {
  background-image: url("./img/mate3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 100%;
}

.productos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.img-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 41vh;
  height: 37vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.img1 {
  background-image: url("./img/imperial croco negro mate.jfif");
  background-size: cover;
}

.img2 {
  background-image: url("./img/mate algarrobo.jfif");
  background-size: cover;
}

.img3 {
  background-image: url("./img/mate metalico.jfif");
  background-size: cover;
}

.img4 {
  background-image: url("./img/mate torpedo imperial.jpeg");
  background-size: cover;
}

.productos2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.set-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.set {
  height: 48vh;
  width: 39vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.set1 {
  background-image: url("./img/sert matero afa.webp");
  background-size: cover;
}

.set2 {
  background-image: url("./img/set matero camionero + termo.webp");
  background-size: cover;
}

.set3 {
  background-image: url("./img/set matero stanley.jfif");
  background-size: cover;
}

.set4 {
  background-image: url("./img/set matero uruguayo.webp");
  background-size: cover;
}

.productos3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bombillas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bombilla {
  height: 48vh;
  width: 39vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.bombilla1 {
  background-image: url("./img/bombilla chata de acero.webp");
  background-size: cover;
}

.bombilla2 {
  background-image: url("./img/bombilla de alpaca.webp");
  background-size: cover;
}

.bombilla3 {
  background-image: url("./img/bombilla pico.jfif");
  background-size: cover;
}

.bombilla4 {
  background-image: url("./img/bombilla cuchara.webp");
  background-size: cover;
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  .item {
    height: 39vh;
    width: 3vw;
  }
}
@media screen and (min-width: 550px) and (max-width: 799px) {
  .item {
    height: 40vh;
    width: 40vw;
  }
  .caja {
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 549px) {
  .item {
    height: 45vh;
    width: 80vw;
  }
  .caja {
    flex-direction: column;
  }
  .contenedor {
    flex-wrap: wrap;
  }
  .contenedor2 {
    flex-wrap: wrap;
  }
  .contenedor3 {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=estilos.css.map */
