@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Peralta&display=swap');

* {
    padding: 0px;
    margin: 0px;
}



// colores
$color1: rgb(255, 174, 0); 

//fonts
$fonts: lobter;
$fonts2: peralta;

header {
    nav{
        background-color: $color1;
        ul{
            li{
                font-family: lobter;
                font-size: 25px;
            }
        }
    }
}

main {
    div {
        
        h1{
            font-family:$fonts;
        }


        p {
            font-style: inherit;
        }
    }

    h1 {
        font-family: $fonts;
        text-align: center;
        padding: 10px;
    }

}

form {
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;

    fieldset {
        display: grid;
    }

    label {
        width:72px;
        font-weight:bold;
        display:inline-block; 
    }

    input {
        width:100%;
        text-align: center;
        padding:8px 16px;
        margin-top:3px;
        border:1px solid #b3b1b1;
        border-radius:5px;
        display:block;
        color:#050505;
        background-color:#f0eded;
    }
}

h2{
    text-align: center;
    font-family: $fonts;
    font-size: 50px;
}


.item {
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
    display: flex;
    flex-direction: row;
    
}

.item1 {
    background-image: url("./img/calabacita-yerba-mate-768x512.webp");
    background-size: cover;
}

.item2 {
    background-image: url("./img/delicious-terere-drink-still-life-scaled.jpg");
    background-size: cover;
}

.item3 {
    background-image: url("./img/mate1.jfif");
    background-size: cover;
}

.item4 {
    background-image: url("./img/mate2.jfif");
    background-size: cover;
}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.caja2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







@media screen and (min-width: 320px) and (max-width: 549px) {
    .caja {
        flex-direction: column;
    }
}
