@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

// colores
$color1: rgb(255, 174, 0); 

//fonts
$fonts: lobter;

header {
    nav{
        background-color: $color1;
        ul{
            li{
                font-family: lobter;
                font-size: 25px;
            }
        }
    }
}

main {
    div {
        font-family: $fonts;
        div{
            background-image: url(img/imagejpg.webp);
        }
    }
}

